:root {
	--dark-cyan: hsl(185, 75%, 39%);
	--very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--dark-grayish-blue: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	background: url(./images/bg-pattern-top.svg) no-repeat,
		url(./images/bg-pattern-bottom.svg) no-repeat;
	background-position: -20vw -40vh, 50vw 40vh;
	background-color: hsl(185, 75%, 39%);
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 400px;
	width: 360px;
	font-family: 'Kumbh Sans', sans-serif;
	background-image: url(./images/bg-pattern-card.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: white;
	border-radius: 18px;
	box-shadow: var(--very-dark-desaturated-blue) 0px 40px 160px -30px;
}

.profile-img {
	position: relative;
	top: 90px;
	border: solid 5px white;
	border-radius: 100px;
	margin-bottom: 2px;
}

.info {
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
	width: 150px;
	gap: 12px;
	margin-top: 90px;
	color: var(--very-dark-desaturated-blue);
}

.info p {
	font-size: 16px;
	font-weight: 500;
	color: var(--dark-grayish-blue);
}

.stats {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	font-size: 14px;
	height: 100px;
	width: 100%;
	border-top: 1px solid lightgray;
}

.stats h1 {
	color: var(--very-dark-desaturated-blue);
	margin-bottom: 4px;
}

.stats p {
	text-align: center;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 2px;
}

/* <!-- Feel free to remove these styles or customise in your own stylesheet 👍 --> */
.attribution {
	position: absolute;
	bottom: 0px;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
