:root {
	--dark-cyan: hsl(185, 75%, 39%);
	--very-dark-desaturated-blue: hsl(229, 23%, 23%);
	--dark-grayish-blue: hsl(227, 10%, 46%);
	--dark-gray: hsl(0, 0%, 59%);
}

* {
	padding: 0;
	margin: 0;
	justify-content: center;
	align-items: center;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	background: url(./images/bg-pattern-top.svg) no-repeat,
		url(./images/bg-pattern-bottom.svg) no-repeat;
	background-position: -22vw -64vh, 50vw 40vh;
	background-color: hsl(185, 75%, 39%);
	background-size: 1300px, 1300px;
}

.profile-img {
	position: relative;
	top: 24px;
	border: solid 5px white;
	border-radius: 100px;
	margin-bottom: 22px;
}

.card {
	display: flex;
	flex-direction: column;
	height: 400px;
	width: 350px;
	background-image: url(./images/bg-pattern-card.svg);
	background-repeat: no-repeat;
	background-color: white;
	background-size: 400px;
	border-radius: 18px;
	box-shadow: var(--very-dark-desaturated-blue) 0px 40px 160px -30px;
	font-family: 'Kumbh Sans', sans-serif;
}

.info {
	display: flex;
	gap: 12px;
	color: var(--very-dark-desaturated-blue);
	padding: 12px 0;
	margin-bottom: 24px;
}

.info p {
	color: var(--dark-grayish-blue);
	font-size: 20px;
}

.stats {
	display: flex;
	width: 100%;
	padding: 24px 0;
	/* height: ; */
	border: red solid 1px;
	justify-content: space-around;
	text-align: center;
}

.stats h1 {
	color: var(--very-dark-desaturated-blue);
	margin-bottom: 4px;
}

.stats p {
	text-align: center;
	font-size: 10px;
	font-weight: 400;
	letter-spacing: 2px;
}

hr {
	width: 100%;
	color: var(--dark-gray);
}

/* <!-- Feel free to remove these styles or customise in your own stylesheet 👍 --> */
.attribution {
	position: absolute;
	bottom: 0px;
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
